body {
    font-family: Arial, sans-serif;
    background-color: #b5d3e7; /* 浅蓝色 */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
}

h1 {
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #007BFF;
}

.group-photo {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
