/* 设置页面背景 */
body {
    background-image: url('images/photo_6267210613717582591_y.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

/* 头部导航栏 */
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* 主要内容 */
main {
    margin-top: 50px;
}

.group-photo {
    width: 60%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

/* 页脚 */
footer {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
